@import 'reset';
@import 'vars';

@font-face {
  font-family: 'Firs-Light';
  src: local('Firs'), url(/src/assets/fonts/Light/tt-firs-light-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Firs-Hairline';
  src: local('Firs'), url(/src/assets/fonts/Hairline/tt-firs-hairline-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Firs-Bold';
  src: local('Firs'), url(/src/assets/fonts/Bold/tt-firs-bold-webfont.woff) format('woff');
}

body {
  font-family: 'Firs-Light', sans-serif;
  font-size: 16px;
}
