.app {

  &-arrow_down-white {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2em;
    width: 35px;
    animation: arrow 2s ease-in-out infinite alternate both;
    color: rgb(179, 175, 175);
  }

  &-arrow_up-color {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5em;
    width: 35px;
    animation: arrow 2s ease-in-out infinite alternate both;
    color: red;
    opacity: 0;
  }
}

[data-aos="transition-arrow_down-white"] {
  &.aos-animate {
    opacity: 0;
  }
}

[data-aos="transition-arrow_up-color"] {
  &.aos-animate {
    opacity: 1;
  }
}
