.app {

  &-arrow {
    position: absolute;
    margin: 92vh 0 0 49vh;
    font-size: 2em;
    animation: arrow 2s ease-in-out infinite alternate both;
    color: rgb(179, 175, 175);
  }

  &-arrowback {
    position: fixed;
    margin: 92vh 0 0 49vh;
    font-size: 2em;
    animation: arrow 2s ease-in-out infinite alternate both;
    color: red;
    opacity: 0;
  }
}

[data-aos="transition-arrow"] {
  &.aos-animate {
    opacity: 0;
  }
}

[data-aos="transition-arrowback"] {
  &.aos-animate {
    opacity: 1;
  }
}

