.contact {
  min-height: 100vh;
  margin: 1em auto;
  padding: 1em 0;

  &-header {
    text-align: center;
    width: 100%;
    border: 1px solid blue;

    &-title {
      font-size: 2em;
    }
  }
}
