.nav {

  background-color: rgb(0, 162, 255);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2em);
  align-items: center;
  color: rgb(51, 51, 51);

  &-name {
    margin-top: 40vh;
    font-size: 1.5em;
    font-weight: bold;
  }

  &-function {
    font-size: 1em;
    margin-top: 0.2em;
  }

  &-socials {
    
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    font-size: 2em;

    & * {
      margin: 0.2em;
    }
  }

  &-subnav {
    display: none;
    flex-direction: row;
    margin-top: 30vh;

    &-aboutme, &-work, &-experience, &-education, &-skills, &-contact {
      cursor: pointer;
    }
  }

  &-arrow {
    margin-top: 30vh;
    margin-left: 10em;
    font-size: 1.5em;
    animation: arrow 3s ease-in-out infinite alternate both;
  }

  @keyframes arrow {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }
}
