.work {
  min-height: 100vh;
  margin: 1em;
  padding: 1em 0;

  &-title {
    font-size: 2em;
    background: linear-gradient(51deg, rgba(158,45,220,1) 0%, rgba(13,106,217,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:  bold;
    font-family: 'Firs-Light', sans-serif;
  }
}
