.aboutMe {
  margin: 1em;
  min-height: 100vh;
  padding: 1em 0;
  font-family: Helvetica, sans-serif;

  &-title {
    font-size: 2em;
    background: linear-gradient(51deg, rgba(158,45,220,1) 0%, rgba(13,106,217,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:  bold;
    font-family: 'Firs-Light', sans-serif;
  }

  &-description {
    
    &-littleDescription {
      padding: 1em 1.5em 0.5em;
      font-weight: bold;
    }
  
    &-mainDescription {
      padding: 0.5em 1.5em 1em;

      &-oclock {
        width: 4em;
      }
    }
  }


  &-interests {

    &-title {
      font-size: 1.25em;
      background:  rgb(158,45,220);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight:  bold;
      font-family: 'Firs-Light', sans-serif;
    }

    &-ul {

      padding-top: 0.5em;

      &-list {
        padding: 0.1em 1.5em;

        &-italic {
          font-style: italic;
        }
      }
    }
  }

  &-socials {
    
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    font-size: 2em;
    justify-content: center;

    & * {
      margin: 0.2em;
      color: rgb(67, 113, 168);
      -webkit-text-fill-color: transparent;
    }
  }
}
